{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block body %}
        {% include 'appbuilder/general/confirm.html' %}
        {% include 'appbuilder/general/alert.html' %}

    {% block navbar %}
        {% include 'appbuilder/navbar.html' %}
    {% endblock %}
    <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <div class="content">
              {% block messages %}
                {% include 'appbuilder/flash.html' %}
              {% endblock %}
              {% block content %}
              {% endblock %}
        </div>
    </div>

    {% block footer %}
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>AdminLTE</b> 3.2.0
            </div>
            {% include 'appbuilder/footer.html' %}
        </footer>
        
    {% endblock %}
{% endblock %}

