
{% macro locale_menu(languages) %}
{% set locale = session['locale'] %}
{% if not locale %}
    {% set locale = 'en' %}
{% endif %}
{% if languages.keys()|length > 1 %}
    <!-- Language Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="flag-icon flag-icon-{{languages[locale].get('flag')}}"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-0">
          {% for lang in languages %}
          <a href="{{appbuilder.get_url_for_locale(lang)}}" class="dropdown-item {% if lang == locale %}active{% endif%}">
            <i class="flag-icon flag-icon-{{languages[lang].get('flag')}} mr-2"></i> {{languages[lang].get('name')}}
          </a>
      {% endfor %}
        </div>
      </li>
{% endif %}
{% endmacro %}

{{ locale_menu(languages) }}
{% if not current_user.is_anonymous %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
           <span class="fa fa-user"></span> {{g.user.get_full_name()}}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{appbuilder.get_url_for_userinfo}}"><span class="fa fa-fw fa-user"></span>{{_("Profile")}}</a></li>
            <li><a href="{{appbuilder.get_url_for_logout}}"><span class="fa fa-fw fa-sign-out"></span>{{_("Logout")}}</a></li>
        </ul>
    </li>
{% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{appbuilder.get_url_for_login}}" role="button">
        <i class="fas fa-solid fa-user"></i>
      </a>
    </li>
{% endif %}
