{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white {{menu.extra_classes}}">
   <div class="container">
        <a href="{{appbuilder.get_url_for_index}}" class="navbar-brand">
      {% if appbuilder.app_icon %}
        <img src="{{ appbuilder.app_icon }}" alt="{{ appbuilder.app_name }}" class="brand-image img-circle elevation-3" style="opacity: .8">
      {% endif %}
            
        <span class="brand-text font-weight-light">{{ appbuilder.app_name }}</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        {% include 'appbuilder/navbar_right.html' %}
      </ul>

   </div>
</nav>